*{
    font-family: arial, helvetica, sans-serif;
}
#lab-wrapper{
    padding: 5px;
    height: 800px;
    width: 1200px;
    border: 1px solid #AAA;
    border-radius: 5px;
    margin: 5px;
}
#lab-header{
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #AAA;
    font-size: 160%;
    margin-bottom: 5px;
    background-color: #DDD;
    border-radius: 5px;
}
    #lab-title{
        font-weight: bold;
    }
    #lab-subtitle{
        font-style: italic;
        font-size: 85%;
    }
#lab-menu{
    width : 160px;
    height : 740px;
    float : left;
    clear : none;
    margin-right : 5px;
    font-size: 95%;
}
    #lab-menu ul{
        padding: 0 0 5px 10px;
        text-decoration: none;
    }

        #lab-menu ul li {
            font-weight: bold;
            color: #333;
            list-style-type: none;
            padding-top: 5px;
        }

        #lab-menu ul li a , #lab-menu ul li a:visited {
            font-weight: normal;
            color: #00C;
            text-decoration: none;
        }

        #lab-menu ul li a:hover {
            text-decoration: underline;
        }


#lab-content{
    width : 1020px;
    height : 730px;
    border : 1px solid #AAA;
    padding : 5px;
    float : left;
    clear : none;
    border-radius: 5px;
}

#bad-request{
    width: 400px;
    border: 1px solid #900;
    border-radius: 5px;
    padding: 3px;
}
    #bad-request .title{
        color: #900;
        font-size: 120%;
        font-weight: bold;
        margin: 2px 0 5px 5px;
    }

/* COLORS PART */

/*
#lab-wrapper{
    background-color : #345;
}
#lab-header{
    background-color : #585;
}
#lab-labtitle{
    background-color : #45D;
}
#lab-menu{
    background-color : #ab3;
}
#lab-content{
    background-color : #4da;
}
*/
