*{
    font-family: arial, helvetica, sans-serif;
}
body{
    background-color: #444;
}
#lab-wrapper{
    padding: 5px;
    height: 800px;
    width: 1000px;
    border: 1px solid #AAA;
    border-radius: 5px;
    margin: 5px;
}
#lab-header{
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #AAA;
    font-size: 160%;
    margin-bottom: 5px;
    background-color: #DDD;
    border-radius: 5px;
}
    #lab-title{
        font-weight: bold;
    }
    #lab-subtitle{
        font-style: italic;
        font-size: 85%;
    }
#lab-menu{
    background-color: #CCC;
    width : 160px;
    height : 740px;
    float : left;
    clear : none;
    margin-right : 2px;
    font-size: 90%;
}
    #lab-menu ul{
        padding: 0 0 5px 10px;
        text-decoration: none;
    }

        #lab-menu ul li {
            font-weight: bold;
            color: #333;
            list-style-type: none;
            padding-top: 2px;
        }
        #lab-menu ul li a , #lab-menu ul li a:visited {
            font-weight: normal;
            color: #00C;
            text-decoration: none;
        }
        .link-active {
            color: #000;
            text-decoration: underline;
            font-weight: normal;
        }
        #lab-menu ul li a:hover {
            text-decoration: underline;
        }


#lab-content{
    width : 820px;
    height : 730px;
    border : 1px solid #AAA;
    padding : 5px;
    float : left;
    clear : none;
    border-radius: 5px;
    background-color: #999;
}

#bad-request{
    width: 400px;
    border: 1px solid #900;
    border-radius: 5px;
    padding: 3px;
}
    #bad-request .first-title{
        color: #900;
    }

/* GENERALS CLASSES */

.first-title{
    font-size: 140%;
    padding: 5px 0 15px 5px;
    text-transform: uppercase;
    color: #009;
}
.second-title{
    font-size: 125%;
    padding: 5px 0 5px 15px;
    font-style: italic;
}
.text-wrapper{
    text-align: justify;
    margin: 5px 0 10px 10px;
    line-height: 140%;
}
.number-list {
    margin: 10px 0 10px 10px;
    padding: 3px 0 0 40px;
}
.number-list li{
    margin: 2px 0 4px 2px;
}
.normal-list {
    margin: 10px 0 10px 10px;
    padding: 3px 0 0 40px;
    list-style: disc;
}
.normal-list li{
    margin: 2px 0 4px 2px;
}
